*{
  margin: 0;
  padding: 0
}

.takePic{
  text-align: center;
}
.container{
  padding-top: 7%;
  font-family: 'Heebo', sans-serif;
}
.title{
  text-align: center;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}
.description {
  text-align: center;
  padding-bottom: 15px;
  margin: 0px;

}

.buttons{
  text-align: center;
  margin: 0px;
  padding: 0px;
}

button{
  left: 50%;
  top: 50%;
  text-align: center;
  font-size: 0.9em;
  padding: 7px;
  margin: 5px;
}

.btn{
  padding: 5px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  vertical-align: center;
}

/* img upload */

/* #imageUpload{
  display: none
}
#profileImage
{
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
} */

.detect {
  padding: 20px 0px 0px;
  text-align: center;
}

.open {
  padding: 20px 0px 0px;
  text-align: center;
  /* text-align: left; */
}

.openCam {
  padding: 5px;

  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.stopCam {
  padding: 20px 0px 0px;
  text-align: center;

}

.cameraStop {
  padding: 5px;

  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}

/* .vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */


.video {
  text-align: center;
  margin: 0px;
}

.modalCamera {

  text-align: center;
}

.cameraClass {
  padding: 5px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


#container {
  margin: 0px auto;
  width: 500px;
  height: 375px;
  border: 10px #333 solid;
}

#videoElement {
  /* width: 500px;
  height: 375px;
  background-color: #666; */
  width: 70%;
  height: 50%;
  margin: 0px;
  background-color: #666;
}


.imgModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.img-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.btnChoices{
  top: 50%;
}


.topBorder {
  background-image: url("bacteria.jpg");
  background-size: 40vh;
  height: 25vh;
  background-repeat: repeat-x;
}